body {
  background: #76b852; /* fallback for old browsers */
  background: linear-gradient(to left, #89c34a, #8DC2C9);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-green {
    border: 2px #76B851 !important;
    border-style: solid !important;
}

.color-white {
    color: white !important;
}
