<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://thymeleaf.org">
<head>
    <title>Credit Card</title>
    <div th:insert="frag/begin :: style"></div>
</head>
<body>
<div class="container">
    <div class="row mt-2">
        <div class="col-6">
            <form method="post" th:action="@{/creditcard}" th:object="${creditCardDto}">
                <div class="mb-3">
                    <label for="cardNumbers" class="form-label fw-bold">Card Numbers
                        <br><small class="fst-italic">Enter your card numbers here</small>
                    </label>
                    <input th:field="*{cardNumbers}" type="text" class="form-control" id="cardNumbers">
                </div>
                <div class="mb-3">
                    <label for="cryptogram" class="form-label fw-bold">Cryptogram
                        <br><small class="fst-italic">Enter the 3 numbers on the back of your card</small>
                    </label>
                    <input th:field="*{cryptogram}" type="text" class="form-control" id="cryptogram">
                </div>
                <div class="mb-3">
                    <label for="endValidity" class="form-label fw-bold">End validity
                        <br><small class="fst-italic">Enter the date of the end of validity of your card</small>
                    </label>
                    <input th:field="*{endValidity}" type="text" class="form-control" id="endValidity">
                </div>
                <input th:if="${accountIsSet}" type="submit" class="btn buddy-btn-green" value="Update information">
                <input th:unless="${accountIsSet}" type="submit" class="btn buddy-btn-green" value="Add credit card">
                <a th:if="${accountIsSet}" class="btn btn-danger" href="/creditcard?action=delete" role="button">Remove
                    credit card</a>
            </form>
        </div>

        <div class="offset-1 col-5">
            <div th:unless="${accountIsSet}" class="card">
                <h5 class="card-header">First connexion ? Read this ! :)</h5>
                <div class="card-body">
                    <p class="card-text"><strong>Please, enter all required informations and click on the button
                        after. </strong><br>
                        After that, your balance will be automatically connect to your card ! Enjoy sharing with your
                        friends
                    </p>
                </div>
            </div>
            <div th:if="${accountIsSet}" class="mt-2 card">
                <h5 class="card-header">Withdraw money by your credit card</h5>
                <div class="card-body">
                    <form method="post" th:action="@{/creditcard-withdraw}" th:object="${creditCardDtoWithdraw}">
                        <label for="withdrawMoney" class="form-label fw-bold">Amount to withdraw (€) :</label>
                        <input th:field="*{withdrawMoney}" type="number" class="form-control" id="withdrawMoney"
                               name="withdrawMoney" min="1" placeholder="1.00" step="0.01">
                        <input type="submit" class="btn buddy-btn-green mt-1" value="Withdraw money">
                    </form>
                </div>
            </div>
            <div th:if="${accountIsSet}" class="mt-2 card">
                <h5 class="card-header">Deposit money on your credit card</h5>
                <div class="card-body">
                    <form method="post" th:action="@{/creditcard-deposit}" th:object="${creditCardDtoDeposit}">
                        <label for="depositMoney" class="form-label fw-bold">Amount to deposit (€) :</label>
                        <input th:field="*{depositMoney}" type="number" class="form-control" id="depositMoney"
                               name="depositMoney" min="1" th:max="${balance}" placeholder="1.00" step="0.01">
                        <input type="submit" class="btn buddy-btn-green mt-1" value="Deposit money">
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>