<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <div th:insert="frag/begin :: style"></div>
</head>

<body>
<div class="container">

    <div th:if="${hasContact}" class="row mt-2">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Want to pay your buddy ?</h5>
                <div class="card-body">
                    <form method="post" th:action="@{/begin-transaction}" th:object="${transactionCreatorDto}">
                        <div class="row">
                            <div class="col-6">
                                <select class="form-select" th:field="*{contactId}" name="contactId" id="contactId">
                                    <option value="" selected>Choose one of them</option>
                                    <option th:each="contact : ${contactList}" th:value="${contact.id}" th:text="${contact.pseudo}">Pseudo</option>
                                </select>
                                <small th:errors="*{contactId}" class="text-danger">And select him/her</small>
                            </div>

                            <div class="col-4">
                                <input th:field="*{amount}" class="form-control" type="number" id="amount" name="amount" min="0.1" th:max="${balance}" placeholder="1.0" step="0.1">
                                <small th:errors="*{amount}" class="text-danger">Please enter a valid amount</small>
                            </div>

                            <div class="col-1">
                                <input type="submit" class="btn buddy-btn-green" value="Transfer money">
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
    <div th:if="${!hasContact}" class="row mt-2">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Add a buddy</h5>
                <div class="card-body">
                    To get started and make your first payment, you must add your buddy on the contact page.
                    <br><a class="btn buddy-btn-green float-end" th:href="@{/contact}" role="button">Bring me there</a>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${hasTransactions}" class="row mt-4">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header" th:text="'My transactions (' + ${numberOfTransactions} + ')'">My transactions (num)</h5>
                <div class="card-body">
                    <div class="row">
                        <table class="table table-striped">

                            <thead>
                            <tr>
                                <th class="col-2 text-center">Type</th>
                                <th class="col-2 text-center">Contact</th>
                                <th class="col-4 text-center">Description</th>
                                <th class="col-2 text-center">Amount (€) </th>
                                <th class="col-2 text-center">Date</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="transaction : ${transactions}">

                                <td class="text-center" th:text="${userId} eq ${transaction.userSenderId} ? 'SENT' : 'RECEIVED'">SENT / RECEIVED</td>

                                <td class="text-center" th:if="${userId} eq ${transaction.userSenderId}" th:text="${userService.returnNameFromId({transaction.userReceiverId})}"></td>
                                <td class="text-center" th:if="${userId} neq ${transaction.userSenderId}" th:text="${userService.returnNameFromId({transaction.userSenderId})}"></td>

                                <td class="text-center" th:text="${transaction.description}">Transaction description</td>

                                <td class="text-center text-danger fw-semibold" th:if="${userId} eq ${transaction.userSenderId}" th:text="'-' + ${transaction.amount} + '€'">-Amount €</td>
                                <td class="text-center buddy-font-green fw-semibold" th:if="${userId} neq ${transaction.userReceiverId}" th:text="'+' + ${transaction.amount} + '€'">Amount €</td>

                                <td class="text-center" th:text="${instantFormatter.formatDate({transaction.creationDate})}">Date</td>

                            </tr>
                            </tbody>

                        </table>

                    </div>
                    <div class="row">
                        <div th:if="${numberOfPages gt 1}" class="offset-5 col-7">

                            <nav aria-label="Page navigation">
                                <ul class="pagination">

                                    <li th:if="${(not #strings.equals(1, param.pageId)) and param.pageId != null}" class="page-item">
                                        <a class="page-link" th:href="@{/?(pageId=${#numbers.formatInteger(param.pageId, 1)} - 1)}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                                    </li>

                                    <li th:if="${#strings.equals(1, param.pageId) or param.pageId == null}" class="page-item disabled">
                                        <a class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                                    </li>


                                    <th:block th:if="${param.pageId != null}" th:each="i: ${#numbers.sequence(1, numberOfPages)}">
                                        <li th:if="${not #strings.equals(i, param.pageId)}" class="page-item"><a class="page-link" th:text="${i}" th:href="@{/?(pageId=${i})}">1</a></li>
                                        <li th:if="${#strings.equals(i, param.pageId)}" class="page-item active" aria-current="page"><a class="page-link" th:text="${i}" th:href="@{/?(pageId=${i})}">1</a></li>
                                    </th:block>

                                    <th:block th:if="${param.pageId == null}" th:each="i: ${#numbers.sequence(1, numberOfPages)}">
                                        <li th:if="${#strings.equals(i, 1)}" class="page-item active" aria-current="page"><a class="page-link" th:text="1" th:href="@{/?(pageId=1)}">1</a></li>
                                        <li th:if="${not #strings.equals(i, 1)}"class="page-item"><a class="page-link" th:text="${i}" th:href="@{/?(pageId=${i})}">2</a></li>
                                    </th:block>


                                    <li th:if="${(not #strings.equals(param.pageId, numberOfPages)) and param.pageId != null}" class="page-item">
                                        <a class="page-link" th:href="@{/?(pageId=${#numbers.formatInteger(param.pageId, 1)} +1 )}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                                    </li>

                                    <li th:if="${(not #strings.equals(param.pageId, numberOfPages)) and param.pageId == null}" class="page-item">
                                        <a class="page-link" th:href="@{/?(pageId=2)}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                                    </li>

                                    <li th:if="${#strings.equals(param.pageId, numberOfPages)}" class="page-item disabled">
                                        <a class="page-link" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                                    </li>


                                </ul>
                            </nav>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${!hasTransactions}" class="row mt-4">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">My transactions</h5>
                <div class="card-body text-center">
                    <i class="fs-2 bi bi-emoji-frown"></i><br>
                    Looks like you don't have any transaction yet
                </div>
            </div>
        </div>
    </div>

</div> <!-- Closing container div -->
</body>
</html>