<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://thymeleaf.org">
<head>
    <title>Login</title>
    <div th:insert="frag/begin :: style"></div>
</head>
<body>
<div class="container">
    <section class="forms-section login-page w-100">
        <div class="forms form-login">
            <div class="form-wrapper is-active">
                <h4 class="text-center color-white">Welcome to Pay My Buddy !</h4>
                <form class="form form-login" method="post" th:action="@{/login}" th:object="${userLogin}">
                    <fieldset>
                        <div class="row align-items-center">
                            <div class="input-block col-6">
                                <input th:field="*{email}" id="email" placeholder="Enter your email" type="email" required>
                            </div>
                            <div class="input-block col-6">
                                <input th:field="*{password}" id="password" placeholder="And your password" type="password"
                                       required>
                            </div>
                        </div>
                    </fieldset>
                            <button type="submit" class="btn-login">Login</button>
                </form>
            </div>
            <div class="form-wrapper">
                <p class="message">Not registered?
                    <a th:href="@{/register}" type="button" class="switcher switcher-signup">Create an account</a></p>
            </div>
        </div>
    </section>
</div>
</body>
</html>