<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://thymeleaf.org">
<head>
    <title>Login</title>
    <div th:insert="frag/begin :: style"></div>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3 p-3 mt-3 border buddy-bg-green text-center">
            Welcome to Pay My Buddy
        </div>
    </div>
    <section class="forms-section">
        <div class="forms">
            <div class="form-wrapper is-active">
                <form class="form form-login" method="post" th:action="@{/login}" th:object="${userLogin}">
                    <fieldset>
                        <legend>Please, enter your email and password for login.</legend>
                        <div class="input-block">
                            <label for="email">E-mail</label>
                            <input th:field="*{email}" id="email" type="email" required>
                        </div>
                        <div class="input-block">
                            <label for="password">Password</label>
                            <input th:field="*{password}" id="password" type="password" required>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn-login" th:href="@{/home}">Login</button>
                </form>
            </div>
            <div class="form-wrapper">
                <a th:href="@{/register}" type="button" class="switcher switcher-signup">
                    Create an account
                    <span class="underline"></span>
                </a>
            </div>
        </div>
</div>
</section>
<script src="scripts/register.js"></script>
</body>
</html>