<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://thymeleaf.org">
<head>
    <title>Register</title>
    <div th:insert="frag/begin :: style"></div>
</head>
<body>
<section class="forms-section">
    <div class="forms">
        <div class="form-wrapper is-active">
            <a th:href="@{/login}" type="button" class="switcher switcher-login">
                Come back to > Login
                <span class="underline"></span>
            </a>
        </div>
        <div class="form-wrapper login-page">
            <form class="form form-signup" method="post" th:action="@{/register}" th:object="${userRegistration}">
                <fieldset>
                    <legend>Sign up for login :)</legend>
                    <div class="input-block form-register">
                        <input th:field="*{pseudo}" placeholder="Enter a pseudonyme here" id="pseudo" type="text" required>
                    </div>
                    <div class="input-block form-register">
                        <input th:field="*{email}" id="email" placeholder="Enter you email here" type="email" required>
                    </div>
                    <div class="input-block form-register">
                        <input th:field="*{password}" id="password" placeholder="Enter NEW password here" type="password" required>
                    </div>
                    <div class="input-block form-register">
                        <input th:field="*{passwordConfirmation}" placeholder="Repeat your password too confirm" id="password-confirm" type="password" required>
                    </div>
                </fieldset>
                <button type="submit" class="btn-signup">Continue</button>
            </form>
        </div>
    </div>
</section>
<script src="scripts/register.js"></script>
</body>
</html>